<div class="modulo-donaciones" id="donaciones">
    <div class="titulo-modulo-donaciones">
      <h3>Haz una Donación</h3>
    </div>
    <div class="texto-modulo-donaciones">
      <h4>Ayuda a proteger los ríos y la vida de los peces</h4>
    </div>
    <div class="modulo-donaciones-informacion row">
      <div class="imagen-modulo-donaciones col-lg-5" data-aos="zoom-in">
        <video autoplay muted loop playsinline class="video1">
            <source src="/videos/videoDonacion.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="texto1-modulo-donaciones col-lg-7" data-aos="fade-left" data-aos-duration="1000">
        <h4>Apoya la misión <br> de la Fundación Tormes-EB</h4>
        <p>
          La Fundación Tormes-EB trabaja para proteger el medio ambiente y promover un desarrollo sostenible. 
          A través de proyectos como la restauración de ecosistemas, la reforestación, la limpieza de ríos y 
          la educación ambiental, busca preservar la biodiversidad y crear un impacto positivo en la naturaleza 
          y las comunidades locales.
        </p>
        <p>
          El cambio climático y la pérdida de recursos naturales son desafíos urgentes, y con una donación puedes 
          ayudar a combatirlos. Cada aportación contribuye a financiar iniciativas como la recuperación de hábitats, 
          la protección de especies y programas educativos que fomentan la conciencia ambiental.
        </p>
        <div class="iban">
          <p><strong>Donar es fácil:</strong> utiliza el IBAN <span>ES12 4356 7623 1223 0098 6578</span></p>
        </div>
        <p>
          Tu apoyo es clave para marcar la diferencia. Cada gesto cuenta para construir un futuro más verde y 
          sostenible. ¡Dona hoy y forma parte del cambio!
        </p>
        <div class="boton-donacion-div">
            <a href="https://fundaciontormes-eb.org/" class="boton-donacion">Haz tu Donación Ahora</a>
        </div>
      </div>
    </div>
  </div>     