<div class="custodiar-zona" id="custodiar-zona">
    <div class="row">
        <div class="titulo-custodiar-zona col-lg-12">
            <h3>Peces ayudados por la comunidad de RiverSpain</h3>
        </div>
        <div class="peces-ayudados col-lg-12 milestone-block">
            <p class="milestone-number">40,235,875</p>
        </div>
    </div>
    <div class="row">
        <div class="mapa-custodiar-zona">
            <img src="https://cdn.pixabay.com/photo/2012/04/01/17/12/spain-23586_1280.png" alt="" />
        </div>
    </div>
    <div class="container-info-custodiar-zona row">
        <div class="info-custodiar-zona col-sm-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000">
            <p class="info-custodiar-zona-p1">5 millones</p>
            <p>ayudan a mantener los ríos</p>
        </div>
        <div class="info-custodiar-zona col-sm-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000">
            <p class="info-custodiar-zona-p1">Más de 40</p>
            <p>especies</p>
        </div>
        <div class="info-custodiar-zona col-sm-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000">
            <p class="info-custodiar-zona-p1">Más de 10</p>
            <p>empresas implicadas</p>
        </div>
        <div class="info-custodiar-zona col-sm-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000">
            <p class="info-custodiar-zona-p1">Más de 25</p>
            <p>proyectos activos</p>
        </div>
    </div>
    
    <div class="boton-custodiar-zonas row">
        <app-boton-agua redirigir="/zonas" textoBoton="Ver Zonas" />
    </div>
</div>