<div class="container-fluid"
>
  <div class="titulo-formulario-custodiar">
    <h3>Custodia una de las zonas disponibles</h3>
  </div>
  <div class="texto-info-custodiar">
    <p>
      Custodiar una zona de un río es una oportunidad única para contribuir
      activamente a la conservación del medio ambiente. Al inscribirte, te
      conviertes en un guardián temporal de una sección del río, ayudando en
      tareas de limpieza y mantenimiento para mejorar su ecosistema. Cada
      persona puede custodiar una zona solo una vez, lo que garantiza que todos
      tengan la oportunidad de participar en esta importante iniciativa.
      <br /><br />En la página de tu carnet de socio podrás consultar las zonas
      que has custodiado, sirviendo como un recordatorio de tu valiosa
      contribución. Únete y sé parte del cambio que nuestros ríos necesitan.
      Juntos podemos marcar la diferencia y preservar estos espacios naturales
      para futuras generaciones.
    </p>
  </div>
</div>
