<section>
    <div class="div-padre"
        data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="100"
    >
        <div class="card">
            <img src="{{imagen}}" alt="{{nombre}}" class="imagen-pez">
            <div class="contenido-texto">
                <div class="nombres">
                    <div class="nombre-comun">
                        <p>{{nombre}}</p>
                    </div>
                    
                </div>
                <div class="origen">
                    <button class="ver-mas">Ver Más</button>
                </div>
            </div>
        </div>
    </div>
</section>
