<div class="modulo-lo-que-defendemos">
    <div class="titulo-lo-que-defendemos">
        <h3>¿Por qué elegir RiverSpain?</h3>
    </div>
    <div class="texto-lo-que-defendemos">
        <h4>Lo que defendemos</h4>
    </div>
    <div class="tarjetas-lo-que-defendemos">
        <div class="primera-fila-lo-que-defendemos row">
            <div class="primera-fila-lo-que-defendemos-columnas col-md-6 col-sm-12" data-aos="zoom-in-up"
                data-aos-duration="1000">
                <div class="card-container">
                    <div class="card">
                        <div class="img-content">
                            <img src="./img/protegerRiosYSuFauna.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="heading" id="carta-lo-que-defendemos-margin">100% de nuestros beneficios
                                son para proteger los ríos y su fauna</p>
                            <p>Todo lo que recaudamos, ya sea a través de nuestra página o donaciones, se
                                destina íntegramente a la conservación de los ríos de España. Cada euro ayuda a
                                restaurar estos ecosistemas y a proteger las especies que dependen de ellos,
                                como los peces que luchan por sobrevivir en aguas más limpias y saludables.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primera-fila-lo-que-defendemos-columnas col-md-6 col-sm-12" data-aos="zoom-in-up"
                data-aos-duration="1000">
                <div class="card-container">
                    <div class="card">
                        <div class="img-content">
                            <img src="./img/AcciónColectiva.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="heading">Acción colectiva por los ríos</p>
                            <p>Nuestra comunidad es parte de un movimiento comprometido con la restauración y
                                conservación de los ríos de España. Juntos, hacemos una diferencia tangible cada
                                día, ayudando a mejorar la calidad del agua, eliminar barreras para los peces y
                                proteger la biodiversidad acuática.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="segunda-fila-lo-que-defendemos row">
            <div class="segunda-fila-lo-que-defendemos-columnas col-md-6 col-sm-12" data-aos="zoom-in-up"
                data-aos-duration="1000">
                <div class="card-container">
                    <div class="card">
                        <div class="img-content">
                            <img src="./img/donacionesIMagen.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="heading">Sin greenwashing, solo transparencia</p>
                            <p>Nos comprometemos a mostrarte de manera clara y transparente cómo usamos los
                                fondos recaudados. Publicaremos informes mensuales detallando cuánto dinero
                                ganamos y cómo lo invertimos en proyectos para la conservación de los ríos y la
                                fauna que depende de ellos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="segunda-fila-lo-que-defendemos-columnas col-md-6 col-sm-12" data-aos="zoom-in-up"
                data-aos-duration="1000">
                <div class="card-container">
                    <div class="card">
                        <div class="img-content">
                            <img src="./img/restauracionRios.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="heading">Más allá de la neutralidad, hacia un impacto positivo</p>
                            <p>Nuestra iniciativa no solo busca mitigar el daño, sino revertirlo. Gracias a
                                nuestras acciones y proyectos sostenibles, ayudamos a restaurar ecosistemas
                                fluviales, promovemos energías renovables y reducimos la huella ecológica en
                                cada paso que damos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>