<footer>
  <div class="footer-top">
    <div class="footer-logo">
      <img src="img/logo-azul-claro.png" alt="RiverSpain Logo">
      <p>Conectando comunidades a través de la conservación de ríos.</p>
    </div>
    <div class="footer-links">
      <h4>Enlaces útiles</h4>
      <ul>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h4>Síguenos</h4>
      <a href="enlace-facebook"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png" alt="Facebook"></a>
      <a href="enlace-twitter"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/X_logo.jpg/1200px-X_logo.jpg" alt="X"></a>
      <a href="enlace-instagram"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png" alt="Instagram"></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 Desarrollo web: Carlos, Marcos, Miguel y José | Aviso legal | Política de Protección de Datos | Política de cookies</p>
  </div>
</footer>
