<div class="padre-mapa"
  data-aos="zoom-in" data-aos-duration="1500"
>
  <google-map
    mapId="622b9d99ec408b63"
    height="100%"
    width="600px"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
  >
    @for (zona of zonas; track zona) {
      <map-advanced-marker
        #marker="mapAdvancedMarker"
        [position]="{ lat: zona.latitud, lng: zona.longitud }"
        (mapClick)="abrirInfoMarker(zona, marker)"
        [content]="crearImgMarkerZona(zona)"
      />
    }
    <map-info-window />
  </google-map>
</div>