<section>
    <div class="textos">
      <div class="titulo">
        <h2><strong>Descargar documento batidas</strong></h2>
      </div>
    </div>
    <div class="tabla-batidas"
      data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="500"
    >
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>PDF</th>
            <th>Excel</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          @for(batida of batidas; track batida.id) {
            <tr>
              <td>{{ batida.nombre }}</td>
              <td>{{ batida.descripcion }}</td>
              <td><button class="btn pdf" (click)="generarInformeBatidaPDF(batida.id_batida)">PDF</button></td>
              <td><button class="btn excel" (click)="generarInformeBatidaExcel(batida.id_batida)">Excel</button></td>
              <td><button class="btn email" (click)="enviarEmail(batida.id_batida)">Email</button></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
  